<%- include("../includes/header.ejs") %>
<main class="main">
  <% if(prods.length > 0){ %>

  <div class="products-container">
    <% for(let product of prods){ %>
    <article class="card-product-item">
      <!-- Card Header Section - Containing product title -->
      <section class="card-product-header">
        <h1 class="product-title"><%= product.title %></h1>
      </section>
      <!-- Card Image Section - Containing product image -->
      <section class="card-product-image">
        <img src="<%= product.imageUrl %>" alt=" <%= product.title %> " />
      </section>
      <!-- Card Content Section - COntaining product details: price, description -->
      <section class="card-product-content">
        <p class="product-description"><%= product.description %></p>
        <hr />
        <h2 class="product-price">$<%= product.price %></h2>
      </section>
      <!-- Card Action Section - Containing call to action - Add to cat button -->
      <section class="card-product-action">
        <%- include("../includes/add-to-cart.ejs", {product: product}) %>
      </section>
    </article>
    <% } %>
  </div>

  <% } else { %>
  <h1>No Products Found</h1>

  <% } %>
</main>

<%- include("../includes/footer.ejs") %>
