<%- include("../includes/header.ejs") %>
<main class="main container-centered" id="product-details-page">
  <h1 id="product-detail-page-title"><%= product.title %></h1>
  <hr />
  <div id="product-details">
    <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
    <div id="product-details-others">
      <p><%= product.description %></p>
      <h2>$<%= product.price %></h2>
      <%- include("../includes/add-to-cart.ejs") %>
    </div>
  </div>
</main>
<%- include("../includes/footer.ejs") %>
